parameters:
    phpVersion: 70100 # Should be 50400, but PHPStan only accepts 70100 or higher...
    level: 0
    paths:
        - bin/phpcbf
        - bin/phpcs
        - scripts
        - src
#        - tests # Only activate for PHPCS 4.x due to current need to support old PHPUnit.
    bootstrapFiles:
        - tests/bootstrap.php

    dynamicConstantNames:
        - PHP_CODESNIFFER_IN_TESTS
        - PHP_CODESNIFFER_CBF
        - PHP_CODESNIFFER_VERBOSITY
